body {
    font-family: Montserrat,
    sans-serif;
    background-color: #F0F0F0F0;
}

.main {
    width: 600px;
    height: 590px;
    margin:  auto;
    background-color: #FFFFFF;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
    padding: 105px 90px;
    
}

.head1 {
    margin-left: 110px;
    
}

.text {
    width: 550px;
}
